{{#if error}}
    <p>ERROR: {{error}}</p>
{{/if}}
{{#if perfecto}}
    <p class="alert alert-primary"> {{perfecto}}</p>
{{/if}}
<table class="table container-fluid">
    <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Rol</th>
            <th scope="col">Activo</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
        <tr>
            <td>{{name}}</td>
            <td>{{email}}</td>
            <td>{{#if rol}}Admin{{else}}User{{/if}}</td>
            <td>{{#if active}}Activado{{else}}Desactivado{{/if}}</td>
            <td><a href="/users/edit/{{id}}">edit</a></td>
            <td><a href="">X</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<a href="/users/register" class="btn btn-primary">Add user</a>