{{#if error}}
<div class="alert alert-danger" role="alert">
  ERROR: {{error}}
</div>
{{/if}}
{{imagesTravels.13.images.0.url}}
<section class="container-flex">
  <div class="d-flex flex-wrap justify-content-center">
    {{#each imagesTravels}}
    <div class="card col-3">
      <a href="/travels/detail/{{id}}">
        <img src="/upload/{{images.0.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{destino}}</h5>
          <p class="card-text">{{fecha_salida}}-{{fecha_llegada}}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{precio}}</small>
          {{#if ../rolUser}}<small class="text-muted">Creado por:{{user.name}}</small>{{/if}}
        </div>
      </a>
    </div>
    {{/each}}
  </div>
  {{#if rolUser}}<a href="/travels/add" class="btn btn-primary">Add Travel</a>{{/if}}
</section>